# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Uploads
uploads/
assets/

# Logs
*.log
npm-debug.log*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

!uploads/.gitkeep 